/*--------------navigation mobile---------*/

#show_menu,
#mainmobil,
#mobil_navigation,
#closemenu {
    display: none;
}

/*------------------navigation mobile---------------*/

h1 {
    width: 100%;
    margin-top: 20%;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    font-family: 'Tangerine';
    font-size: 58px;
    color: rgb(233, 177, 4);
}

/*bouton d'entrée et boutons en lire plus*/

#input1,
.input_read {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: justify;
    position: relative;
    margin: auto;
    padding: 15px 0;
    border: 4px solid #FFF;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    color: #FFF;
    background: linear-gradient(rgb(62, 64, 68), rgb(32,61,119) );
    background: -moz-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background: -webkit-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background: -o-linear-gradient(rgb(62,64,68), rgb(32,61,119) ); 
}

#input1:hover,
.input_read:hover {
    padding: 10px;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    text-shadow: 1px 1px 3px #444;
    font-weight: bold;
    color: rgb(30,56,56);
    background-image: linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -moz-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -webkit-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -o-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    -webkit-box-shadow: 1px 1px 4px #777;
    -moz-box-shadow: 1px 1px 4px #777;
    -o-box-shadow: 1px 1px 4px #777;
    -ms-box-shadow: 1px 1px 4px #777;
    box-shadow: 1px 1px 4px #777;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(221,208,54);
}

/* ----effet de neige qui tombe sur image d'accueil--------------*/

html {
    background: #9A97A5;
    cursor: url("../image/pencil.gif"), default;
}

.welcome {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 900px;
    border: 2px double white;
    overflow: hidden;
    background: url(../image/photo16.jpg) center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 10px 10px #ccc;
    -moz-box-shadow: 0 10px 10px #ccc;
    -ms-box-shadow: 0 10px 10px #ccc;
    -o-box-shadow: 0 10px 10px #ccc;
    box-shadow: 0 10px 10px #ccc;
}

#alaska {
    position: absolute;
    width: 100%;
    height: 100%;
}

.snow {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.snow__layer {
    position: absolute;
    right: -100px;
    left: -100px;
    -moz-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -o-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -ms-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -webkit-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -webkit-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    -o-perspective: 100px;
    -ms-perspective: 100px;
    perspective: 100px;
}

.snow__fall {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2000px;
    background: url(../image/snow-light.png);
    -webkit-animation: fall 10s linear infinite;
    -moz-animation: fall 10s linear infinite;
    -o-animation: fall 10s linear infinite;
    -ms-animation: fall 10s linear infinite;
    animation: fall 10s linear infinite;
}

.snow__layer:nth-child(1) {
    -webkit-animation-duration: 35s;
    -moz-animation-duration: 35s;
    -o-animation-duration: 35s;
    -ms-animation-duration: 35s;
    animation-duration: 35s;
}

.snow__layer:nth-child(1) .snow__fall {
    left: -2000px;
    width: 4000px;
    background: url(../image/snow-blur.png);
    -webkit-animation-name: fallblur;
    -moz-animation-name: fallblur;
    -o-animation-name: fallblur;
    -ms-animation-name: fallblur;
    animation-name: fallblur;
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    -ms-transform: translateZ(25px);
    transform: translateZ(25px);
}

.snow__layer:nth-child(2) {
    -webkit-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -o-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -moz-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    -ms-animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
    animation: wind 5s cubic-bezier(0.45,0.05,0.55,0.95) infinite alternate;
}

.snow__layer:nth-child(2) .snow__fall {
    background: url(../image/snow-medium.png);
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    -o-animation-duration: 25s;
    -ms-animation-duration: 25s;
    animation-duration: 25s;
}

.snow__fall:nth-child(3) {
    background-size: 250px;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    -ms-animation-duration: 10s;
    animation-duration: 10s;
}

.snow__fall:nth-child(2) {
    background-size: 500px;
    -webkit-animation-duration: 20s;
    -o-animation-duration: 20s;
    -moz-animation-duration: 20s;
    -ms-animation-duration: 20s;
    animation-duration: 20s;
}

.snow__layer:nth-child(4) .snow__fall {
    -webkit-animation-name: falllight;
    -moz-animation-name: falllight;
    -o-animation-name: falllight;
    -ms-animation-name: falllight;
    animation-name: falllight;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    transform: translateZ(50px);
}

@-webkit-keyframes fall {
    from {
   
        transform: translateY(-1000px);
    }
}

@-o-keyframes fall {
    from {
   
        transform: translateY(-1000px);
    }
}

@-moz-keyframes fall {
    from {
   
        transform: translateY(-1000px);
    }
}

@keyframes fall {
    from {
       
        transform: translateY(-1000px);
    }
}

@-webkit-keyframes falllight {
    from {
 
        transform: translateY(-1000px) translateZ(50px);
    }
}

@-o-keyframes falllight {
    from {
 
        transform: translateY(-1000px) translateZ(50px);
    }
}

@-moz-keyframes falllight {
    from {
 
        transform: translateY(-1000px) translateZ(50px);
    }
}


@keyframes falllight {
    from {
       
        transform: translateY(-1000px) translateZ(50px);
    }
}

@-webkit-keyframes fallblur {
    from {
  
        transform: translateY(-1000px) translateZ(25px);
    }
}

@-o-keyframes fallblur {
    from {
  
        transform: translateY(-1000px) translateZ(25px);
    }
}

@-moz-keyframes fallblur {
    from {
  
        transform: translateY(-1000px) translateZ(25px);
    }
}


@keyframes fallblur {
    from {

        transform: translateY(-1000px) translateZ(25px);
    }
}

@-webkit-keyframes wind {
    to {
       
        transform: translateX(50px);
    }
}

@-moz-keyframes wind {
    to {
       
        transform: translateX(50px);
    }
}

@-o-keyframes wind {
    to {
       
        transform: translateX(50px);
    }
}


@keyframes wind {
    to {
       
        transform: translateX(50px);
    }
}

/*------------------------fin fenetre présentation------------------*/


/*---------------------Menu navigation-----------------------------*/

ul#navigation {
    display: flex;
    display: -ms-flexbox;  
    flex-direction: row;
    -ms-flex-direction:row;
    justify-content: center;
    -ms-flex-pack: center;
    margin-top: 35px;
    list-style-type: none;    
}

.btn{
    padding: 12px 35px;
    border: 2px solid grey;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    background-image: linear-gradient(rgb(62, 64, 68), rgb(32,61,119) );
    background-image: -moz-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -webkit-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -o-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    -webkit-box-shadow: 4px 4px 12px #444;
    -moz-box-shadow: 4px 4px 12px #444;
    -o-box-shadow: 4px 4px 12px #444;
    -ms-box-shadow: 4px 4px 12px #444;
    box-shadow: 4px 4px 12px #444;
    
}

.btn:hover {
    text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    -ms-text-shadow: 1px 1px 3px #444;
    font-weight: bold;
    color: rgb(30,56,56);
    background-image: linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -moz-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -webkit-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -o-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    -webkit-box-shadow: 1px 1px 4px #777;
    -moz-box-shadow: 1px 1px 4px #777;
    -o-box-shadow: 1px 1px 4px #777;
    -ms-box-shadow: 1px 1px 4px #777;
    box-shadow: 1px 1px 4px #777;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    
}

a {
    width: 10%;
    text-decoration: none;
}

/*-------------------fin navigation------------------------------*/
/*--------------------présentation auteur------------------------*/

#bio {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap:wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    -ms-flex-pack:space-around;
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 55px;
}

#bio p {
    width: 60%;
    font-family: "Raleway",sans-serif;
    font-size: 1.5em;
    font-style: oblique;
}

/*lettrine*/

#bio p:first-of-type:first-letter {
    float: left;
    padding: 0.05em 0.05em 0 0;
    font-family: "Raleway",sans-serif;
    font-size: 6em;
    font-style: normal;
    color: white;
}

#photobio {
    width: 25%;
    margin-bottom: 25px;
    -webkit-box-shadow: 4px 4px 12px #444;
    -ms-box-shadow: 4px 4px 12px #444;
    -moz-box-shadow: 4px 4px 12px #444;
    -o-box-shadow: 4px 4px 12px #444;
    box-shadow: 4px 4px 12px #444;
}

/*--------------------fin présentation auteur--------------------*/

/*--------------------vignettes----------------------------------*/

.input_read {
    margin-bottom: 25px;
    padding: 15px 55px;
    text-transform: none;
    white-space: nowrap;
}

.input_read:hover {
    padding: 15px 38px;
}

.body_card {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    margin-bottom: 55px;
  
}

.body_card span img {
    z-index: 9999;
    position: absolute;
    top: -20px;
    left: 0;
    width: 70px;
    height: 70px;
}

.body_card img {
    width: 350px;
    height: 250px;
    margin: auto;
    -ms-transition: width 2s;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    -moz-transition: width 2s;
    transition: width 2s;
}

.body_card p {
    margin-right: 12%;
    margin-left: 12%;
}

/* auteur ,date, et voir commentaires*/

.publishing {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
}

#commentaires i,
.body_card p span {
    text-align: center;
    font-style: italic;
    color: black;
}

#ep1 {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    align-items: center;
    width: 450px;
    height: auto;
    margin-bottom: 25px;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background: white;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    
}

#ep1:hover {
    -webkit-box-shadow: 0 8px 12px #666;
    -moz-box-shadow: 0 8px 12px #666;
    -o-box-shadow: 0 8px 12px #666;
    -ms-box-shadow: 0 8px 12px #666;
    box-shadow: 0 8px 12px #666;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(-1deg);
}

h2 {
    width: 100%;
    height: 35px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    font-family: Tangerine,arial,verdana;
    font-size: 2.2em;
    color: white;
    background-image: linear-gradient(rgb(62, 64, 68), rgb(32,61,119) );
    background-image: -moz-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -webkit-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -o-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    -webkit-box-shadow: 2px 3px 3px 2px#000;
    -moz-box-shadow: 2px 3px 3px 2px #000;
    -o-box-shadow: 2px 3px 3px 2px #000;
    -ms-box-shadow: 2px 3px 3px 2px #000;
    box-shadow: 2px 3px 3px 2px #000;
}


/*-----------------------fin vignettes--------------------------*/

#btntop {
    margin-left: 48%;
}

footer {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    align-content: center;
    align-items: center;  
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px double silver;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    -ms-text-shadow: 1px 1px 3px #444;
    -webkit-box-shadow: 0 10px 10px #ccc;
    -moz-box-shadow: 0 10px 10px #ccc;
    -o-box-shadow: 0 10px 10px #ccc;
    -ms-box-shadow: 0 10px 10px #ccc;
    box-shadow: 0 10px 10px #ccc;
    font-family: tahoma,arial,verdana;
    font-size: 1em;
    font-style: oblique;
    color: white;
    background-image: linear-gradient(rgb(62, 64, 68), rgb(32,61,119) );
    background-image: -moz-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -webkit-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -o-linear-gradient(rgb(62,64,68), rgb(32,61,119) );   
}

footer a {
    color: #4c0ed8;
}

footer a:hover,
footer a:focus {
    color: #000;
}

footer a span {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 25px;
    border-radius: 3px;
    color: #fff;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
}

footer a:hover span,
footer a:focus span {
    opacity: 1;
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
}

footer img {
    margin-top: 6%;
    margin-bottom: 4%;
}

/* lien mentions légales*/

#legal {
    text-decoration: none;
    color: white;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.commentaires a:hover,
#commentaires i:hover,
#legal:hover {
    text-decoration: none;
    font-style: normal;
    color: rgb(233, 177, 4);
   
}

/* div des mentions légales */

#legalnotice {
    display: none;
    z-index: 5;
    position: fixed;
    top: 165px;
    width: 70%;
    height: 600px;
    margin: auto;
    border: 2px double silver;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    text-shadow: none;
    font-style: normal;
    color: rgb(30,56,56);
    background-image: linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -moz-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -webkit-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    background-image: -o-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
    animation: anima 1s ease;
    -webkit-animation: anima 1s ease;
    -o-animation: anima 1s ease;
    -ms-animation: anima 1s ease;
    -moz-animation: anima 1s ease;
}

/*animation mentions légales*/

@-webkit-keyframes anima {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-o-keyframes anima {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes anima {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes anima {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*fermeture des mentions légales*/

#closelegal {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-family: tahoma,arial,verdana;
    font-style: normal;
    color: white;
    background: rgb(233, 177, 4);
    -webkit-box-shadow: 2px 3px 3px 2px#000;
    -moz-box-shadow: 2px 3px 3px 2px #000;
    box-shadow: 2px 3px 3px 2px #000;
    -o-box-shadow: 2px 3px 3px 2px #000;
    -ms-box-shadow: 2px 3px 3px 2px #000;
}

#closelegal:hover {
    color: white;
    background-color: rgb(62, 64, 68);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

/* titre h2 mais avec specificités du bloc mentions légales donc un id a été ajouté*/

h3 {
    text-decoration: underline;
    font-weight: bold;
}

#titlenotice {
    width: 100%;
    height: 35px;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    font-family: tahoma,arial,verdana;
    font-size: 1.2em;
    font-style: normal;
    color: white;
    background-image: linear-gradient(rgb(62, 64, 68), rgb(32,61,119) );
    background-image: -moz-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -webkit-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    background-image: -o-linear-gradient(rgb(62,64,68), rgb(32,61,119) );
    -webkit-box-shadow: 2px 3px 3px 2px #000;
    -moz-box-shadow: 2px 3px 3px 2px #000;
    -o-box-shadow: 2px 3px 3px 2px #000;
    -ms-box-shadow: 2px 3px 3px 2px #000;
    box-shadow: 2px 3px 3px 2px #000;
  
}

/* --------------page de l' article entier-------------------*/

div.news {
    display: flex;
    display:-ms-flexbox;
    width: 90%;
    margin: auto;
    font-size: 1.5em;
}

/*commentaires*/

form,
#com {
    text-align: center;
    font-size: 1.5em;
}

form input {
    margin-bottom: 10px;
}

.inputbasic {
    width: 60%;
    padding: 10px;
    border: 1px solid grey;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    font-style: oblique;
    color: rgb(30,56,56);
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    cursor: pointer;
    
}

.inputbasic:focus {
    font-family: tahoma,arial,verdana;
    font-size: 1.5em;
    font-style: oblique;
    color: rgb(30,56,56);
    color: black;
    background-color: lightgrey;
}

form input[type=submit] {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: lightgrey;
    transition: all 0.5s ease;
    -webkit-transition:  0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition:  0.5s ease;
    -moz-transition: 0.5s ease;
}

form input[type=submit]:active {
    padding: 15px;
}

form input[type=submit]:hover {
    border-radius: 150px;
    color: white;
    background-color: rgb(32,61,119);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#comment {
    height: 250px;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
}

/*placement commentaires en dessous de chaque article*/

.commentaires {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 2%;
    padding-left: 3%;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background-color: silver;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
}

.user p {
    width: 90%;
    font-size: 1.2em;
    font-style: italic;
    color: rgb(32,61,119);
}

.commentaires a {
    color: rgb(32,61,119);
}

.commentaires em {
    height: auto;
    margin-bottom: 2%;
    margin-left: 80%;
}

/*fin commentaires*/

#pageArticle {
    width: 100%;
    height: 400px;
}

.news i {
    font-size: 1.4em;
}
.comSignal {
    display:flex;
    display:-ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack:justify;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    color:blue;
    font-weight:bold;
    padding-left:25px;
    width: 97.5%;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    background-color:white ;
 

}
/*--------------tableau de bord-----------*/

.bienvenue{

    font-size :1.5em;
    color:black;
    font-style:italic;
    margin-top:2%;

}

.adminPost{
    margin:auto;
      display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background: white;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;

}


.admin{

    text-align:center;
    padding-right:4%;
    font-size:1.5em;

}

@media screen and (max-width:865px) {
    #blocpage {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    #input1 {
        display: none;
    }

    /*------------icone menu-------------*/

    #show_menu {
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        -ms-flex-pack: justify;
        color: rgb(233, 177, 4);
    }

    div#mainmobil {
        display: none;
    }

    #mobil_navigation,
    #closemenu {
        display: block;
    }

    #mainmobil {
        display: none;
        display: flex;
        display: -ms-flexbox;
        align-content: space-around;
        justify-content: center;
        -ms-flex-pack: justify;
        width: 50%;
        height: auto;
        margin: auto;
        border: 2px double silver;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        text-shadow: 1px 1px 3px #444;
        -o-text-shadow: 1px 1px 3px #444;
        -ms-text-shadow: 1px 1px 3px #444;
        -moz-text-shadow: 1px 1px 3px #444;
        -webkit-text-shadow: 1px 1px 3px #444;
        font-family: tahoma,arial,verdana;
        font-size: 1em;
        color: rgb(30,56,56);
        background-image: linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
        background-image: -moz-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
        background-image: -webkit-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );
        background-image: -o-linear-gradient(rgb(233, 177, 4), rgb(221,208,54) );     
    }

    #mainmobil a {
        margin: auto;
        color: rgb(30,56,56);      
    }

    ul#mobil_navigation {
        margin-right: 17%;
        text-align: center;
        list-style-type: none;
    }

    #mobil_navigation li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul#navigation {
        display: none;
    }

    #ep1 {
        transition: none;
        -o-transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }

    #ep1:hover {
        transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }

    .body_card span img {
        display: none;
    }


    #bio {
        flex-direction: column;
        -ms-flex-direction: column;
        font-size: 0.7em;
    }

    #bio p {
        width: 100%;
    }

    #photobio {
        width: 70%;
    }

    #btntop {
        margin-left: 46.5%;
    }

    footer {

        flex-direction: column;
        -ms-flex-direction: column;
        padding-bottom: 15px;
        text-align: center;

    }

    footer img {
        margin-top: 10px;
        margin-left:5%;
    }

    #legal,
    h4 {
        margin: auto;
        margin-top: 20px;
    }

    #legalnotice {
        z-index: 9999;
        right: 10%;
        left: 10%;
        height: auto;
    }

    .inputbasic {
        width: 90%;
    }

    .commentaires {
        width: 90%;
    }
    div#comSignal {
       width: 97%; 
    }
    .adminPost{
        width: 90%;
    }

}

@media(orientation:landscape) and (max-device-width:850px) {
    #legalnotice {
        position: relative;
        top: 5px;
        right: 0;
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width:590px) {
    #legalnotice {
        font-size: 15px;
    }

    #btntop {
        margin-left: 45.5%;
    }

    .commentaires em {
        margin-left: 70%;
    }

    footer a span {
        margin-top: -70px;
        margin-left: 40px;
    }
    div#comSignal{
       width: 95%; 
    }
}

@media screen and (max-width:450px) {
    #legalnotice {
        top: 25px;
        font-size: 10px;
    }
       #btntop {
        margin-left: 43%;
    }
      footer img {
        margin-top: 10px;
        margin-left:-18.5%;
    }
        div#comSignal{
       width: 93%; 
    }

    #closeCom{
        left: 92%;
    }

}

@media screen and (max-width:380px) {
    ul#mobil_navigation {
        margin-right: 24%;
    }

    .body_card img {
        width: 100%;
    }

    #ep1{
        width: 100%;
        border: 2px solid white;
    }  

      #btntop {
        margin-left: 41%;
    }

      footer img {
        margin-top: 10px;
        margin-left:-34%;
    }

  
  
}